//
// HOMEPAGE STYLES
//

.inner-content {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url("images/angela-long-beach-2.jpg") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //opacity: 0.5;
  padding-top: 1.5em;
}
